services:
  maria-db:
    container_name: dbase
    build:
      context: ./requirements/mariadb/
    image: dbase
    volumes:
      - db:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: unless-stopped

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress/
    depends_on:
      - maria-db
    image: wp
    volumes:
      - wp:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    restart: unless-stopped

  nginx:
    container_name: ngx
    build:
      context: ./requirements/nginx
    depends_on:
      - wordpress
    image: nginx
    ports:
      - 443:443
    volumes:
      - wp:/var/www/html
    networks:
      - inception
    restart: unless-stopped


networks:
  inception:
    name: inception
    driver: bridge

volumes:
  wp:
    driver: local
    driver_opts:
      type: none
      device: /home/agus/data/wordpress
      o: bind
  db:
    driver: local
    driver_opts:
      type: none
      device: /home/agus/data/db
      o: bind
    

